<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.jueyi.geekshop.mapper.UserEntityMapper">

    <resultMap id="userMap" type="co.jueyi.geekshop.types.user.User">
        <id property="id" column="id" />
        <result property="identifier" column="identifier" />
        <result property="verified" column="verified" />
        <collection property="roles" ofType="co.jueyi.geekshop.types.role.Role">
            <id property="id" column="rid" />
            <result property="code" column="code" />
            <result property="description" column="description" />
            <result property="permissions" column="permissions"
                    typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler" />
        </collection>
    </resultMap>

    <select id="findUserWithRoleByIdentifier" resultMap="userMap" parameterType="java.lang.Long">
        SELECT u.id, u.identifier, u.verified, r.id as rid, r.code, r.description, r.permissions
        FROM tb_user u left outer join tb_user_role_join ur on ur.user_id = u.id
                    left outer join tb_role r on r.id = ur.role_id
        WHERE u.identifier = #{value}
    </select>

</mapper>